.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slider{
    margin-top: 20px;
    position: relative;
    padding: 0px 60px;
}
.slider .slick-arrow{
   position: absolute;
   top: 50%; 
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url('img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 3px solid #000;
}
img{
    width: 200px;
    height: 150px;
}