
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}


.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
}
.slider .slick-arrow.slick-next{
	right: 0;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}

.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 15px;
	background-color: light;

}

.slider .slick-dots li.slick-active button{
	background-color: grey;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}